@import "./Variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100..1000;1,100..1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 600 !important;
  h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  h3 {
    font-weight: bold;
    font-size: 1.75rem;
  }

  h4 {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.page {
  margin-bottom: 50px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content-header {
  font-weight: bold;
  margin: 25px 0;
}

.u-link{
  text-decoration: underline;
}

// ----------------------------------------------- buttons -----------------------------------------
.primary-btn,
.red-button,
.green-button
 {
  width: 100%;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.social-sign-in-btn{
  width: 100% !important;
  position: relative;
  right: 6px;
}

.red-button {
  background-color: $pastel-red;
  border: 3px solid $pastel-red;
}

.red-button:hover {
  background-color: $pastel-red-dark;
  border: 3px solid $pastel-red-dark;
}

.red-outline-button {
  background-color: transparent;
  border: 3px solid $pastel-red;
  color: $pastel-red;
}

.red-outline-button:hover {
  background-color: transparent;
  border: 3px solid $pastel-red-dark;
  color: $pastel-red-dark;
}

.green-button {
  background-color: $pastel-green;
  border: 3px solid $pastel-green;
}

.green-button:hover {
  background-color: $pastel-green-dark;
  border: 3px solid $pastel-green-dark;
}

.content-container {
  min-width: 350px;
  max-width: 550px;
  padding: 30px;
}

.button-link {
  text-decoration: none;
  color: black !important;
}

