@import "./Variables.scss";

.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;

  .container {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    flex-wrap: wrap;
  }

  .sub-card {
    width: 300px;
    min-height: 400px;
    padding: 15px;
    border: 1px solid $border-color !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    ul {
      padding-left: 0;
      list-style: none;
    }
  }

  .title{
    font-size: 32px;
    font-weight: bold;
  }

  button{
    margin-top: 25px !important;
  }
}
