services:
  stateanalytica-server:
    container_name: stateanalytica-server
    build: .
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    restart: unless-stopped